* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  position: relative;
}

#main .messages {
  width: 70vw;
  height: 65vh;
  outline: 0.5px solid black;
  margin: 0 auto;
  overflow-y: auto;
  padding: 20px 40% 0px 20px;
  font-family: 'SF Pro Text';
  position: relative;
}

.messages::-webkit-scrollbar {
  display: none;
}

.messages .typing-message {
  width: fit-content;
  padding: 0px 10px;
  height: fit-content;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  position: fixed;
  bottom: 32%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-message h4 {
  font-weight: 200;
  opacity: 0.7;
}

.messages h3 {
  font-family: 'Aeonik';
  font-weight: 400;
  font-size: 18px;
  margin-left: 2px;
}

#main .type-message {
  width: 70vw;
  height: 15vh;
  outline: 0.5px solid black;
  margin: 0 auto;
}

:root {
  --translate: translate(0px, 0px);
}

#main .send-message {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translate(0px, 0%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.send-message::after {
  content: '';
  width: 30vw;
  height: 7vh;
  background-color: rgb(14, 157, 223);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  position: absolute;
  transform: var(--translate);
}

.send-message::before {
  content: '';
  width: 30vw;
  height: 7vh;
  position: absolute;
  outline: 0.5px solid black;
  background: #fff;
  transform: translate(3px, 3px);
}

.send-message h3 {
  color: #fff;
  z-index: 1;
  font-family: 'SF Pro Text';
  transform: var(--translate);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#main .send-message:active::after {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transform: translate(3px, 3px);
}

#main .send-message:active h3 {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transform: translate(3px, 3px);
}

.type-message textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: 'SF Pro Text';
  font-size: 20px;
  padding: 10px;
  border: none;
}

textarea:focus {
  outline: 1px solid lime;
  border: none;
}

#main .overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  will-change: transform;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.overlay .name-input {
  gap: 0.8em;
  width: 30vw;
  height: 12vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: red; */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.name-input h3 {
  color: #fff;
  font-family: 'Aeonik';
  font-weight: 400;
}

.name-input input {
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
}

.name-input input::placeholder {
  will-change: placeholder;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.name-input input:focus {
  outline: none;
}

.uname-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: red;
}

.enter-chat {
  width: 40px;
  height: 100%;
  background-color: rgb(9, 177, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.5px solid black;
  cursor: pointer;
}

.enter-chat ion-icon {
  color: #fff;
}

.enter-chat:active {
  border: none;
  background-color: lime;
}

.messages .message {
  max-width: 230px;
  height: fit-content;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.online-people {
  width: 14vw;
  height: 30vh;
  overflow-y: auto;
  /* background-color: red; */
  border-radius: 15px;
  border: 0.3px solid black;
  position: absolute;
  top: 0%;
  right: 0;
  padding: 10px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.online-people::-webkit-scrollbar {
  display: none;
}

.hide-names {
  height: 7vh;
  overflow: hidden;
}

.online-nav {
  text-align: center;
  padding: 0px 0px 15px 0px;
  border-bottom: 0.5px solid #000000;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.toggle-border {
  border: 0px;
}

.online-nav h3 {
  font-family: 'Aeonik';
  font-weight: 500;
  word-wrap: none;
  /* font-size: 2vw; */
}

.online-people .names {
  width: 100%;
  height: 80%;
  padding-top: 5px;
  /* background-color: red; */
}

.names .name {
  width: 100%;
  height: fit-content;
}

.name h4 {
  font-family: 'Aeonik';
}

.names small {
  display: block;
}

@media (max-width: 500px) {
  #main .messages {
    width: 80vw;
    height: 55vh;
    outline: 0.5px solid black;
    margin: 20vh auto 0 auto;
    overflow-y: auto;
    padding: 20px 40% 0px 20px;
    font-family: 'SF Pro Text';
    position: relative;
  }

  .messages::-webkit-scrollbar {
    display: none;
  }

  .messages .typing-message {
    width: fit-content;
    padding: 0px 10px;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    position: fixed;
    bottom: 32%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .typing-message h4 {
    font-weight: 200;
    opacity: 0.7;
  }

  .messages h3 {
    font-family: 'Aeonik';
    font-weight: 400;
    font-size: 18px;
    margin-left: 2px;
  }

  #main .type-message {
    width: 80vw;
    height: 9vh;
    outline: 0.5px solid black;
    margin: 0 auto;
  }

  .send-message::after {
    content: '';
    width: 40vw;
    height: 7vh;
    background-color: rgb(14, 157, 223);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    position: absolute;
    transform: var(--translate);
  }

  .send-message::before {
    content: '';
    width: 40vw;
    height: 7vh;
    position: absolute;
    outline: 0.5px solid black;
    background: #fff;
    transform: translate(3px, 3px);
  }

  .overlay .name-input {
    gap: 1em;
    width: 59vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
  }

  .online-people {
    width: 60vw;
    height: 5vh;
    overflow-y: auto;
    /* background-color: red; */
    border-radius: 15px;
    border: 0.3px solid black;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  }

  .hide-names {
    height: 18vh;
    overflow: hidden;
  }
  
  .online-nav {
    text-align: center;
    padding: 0px 0px 15px 0px;
    border-bottom: 0.5px solid #000000;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}